 html, body, #root {
  height: 100%;
  margin: 0;
 }

main {
  flex: 1;
}

 .App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

header{
background-color: #333;
color: white;
padding: 15px 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
  color: #f4c430;

}

nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #f4c430;
}

 footer{
  margin-top: auto;
  background-color: #222 ;
  color: white;
  text-align: center;
  padding: 15px;
 }


 .hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  background: linear-gradient(135deg, #fff7ed, #fde78a)
 }

 .heroText{
  width: 50%;
 }

 .heroText h2{
  font-size: 42px;
  margin-bottom: 20px;
  color: #111827;
 }

 .heroText p{
  font-size: 18px;
  margin-bottom: 25px;
   line-height: 1.6;
 }

 .heroText button{
  padding: 12px 28px;
  font-size: 16px;
  background-color: #111827;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
 }

 .heroText button:hover{
  background-color: #374151;
 }

 .heroImage{
  max-width: 360px;
  height:280px;
  background-color: #f3f4f6;
  border: 3px dashed #d97706;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 }